* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.primary-button{
    height: 50px;
    width: 170px;
    background-color: #ff5400;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-bar{
    display: flex;
    gap: 44px;
}

.nav-bar li a{
    font-size: 18px;
    font-weight: 700;
    color: #424247;
    text-decoration: none;
}

.nav-bar li{
    list-style: none;
}

/* .input-section{
    display: none;
} */

.nav-bar .home-word{
    color: #ff5400;
}

.section-header{
    max-width: 1320px;
    margin: 0 auto;
}

.banner{
    background-image: url(../assets/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 16px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ban{
    background: rgba(19, 19, 24, 1), rgba(19, 19, 24, 0);
    text-align: center;
    border-radius: 9px;
    max-width: 800px;
    padding: 10px;
}

.ban-title{
    font-size: 64px;
    font-weight: 800;
    color: #fff;
}

.description-ban{
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
    color: #fff;
    line-height: normal;
}

.input-section input{
    height: 50px;
    width: 170px;
    border-radius: 8px;
    border: none;
    padding: 16px;
    margin-right: 16px;
}

.primary-button i{
    font-size: 16px;
}

.tour{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 50px;
    margin-top: 100px;
    color: rgba(90, 90, 93, 1);
}

.t-content{
    max-width: 570px;
}

.t-title{
    font-weight: 800;
    font-size: 40px;
    color: #131318;
}

.m{
    margin: 24px 0;
}

.m-top{
    margin-top: 10px;
}

.left{
    margin-left: 30px;
}

.t-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(19,19,24,0.7);
}

.destination{
    max-width: 1320px;
    margin: 60px auto;
}

#short-description{
    margin: 24px 0 45px 0; 
}

.about{
    text-align: center;
}

.row-section{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    margin-left: 60px;
}

.set{
    position: relative;
}

.set img{
    width: 100%;
}

.set > h3{
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    position: absolute;
}

.mal{
    left: 38%;
    top: 42%;
}

.indo,
.band{
    left: 38%;
    top: 42%;
}

.sri{
    left: 33%;
    top: 42%;
}

.nora{
    left: 28%;
    top: 42%;
}

.kash,
.ban{
    left: 30%;
    top: 42%;
}

.choose{
    max-width: 1320px;
    margin: 50px auto;
}

.row-section2{
    display: flex;
    gap: 24px;
}

.row-section2 .other{
    max-height: 250px;
    max-width: 556px;
    background-color: rgba(251, 181, 99, 0.05);
    padding: 16px 50px 32px 32px;
    border-radius: 16px;
    background-color: rgba(251, 181, 99, 0.2);
}

.other img{
    width: 64px;
    height: 64px;
}

.center{
    margin: 0 auto;
    margin-top: 28px;
}

.c-content{
    text-align: center;
    margin-bottom: 48px;
}

.sorted1{
    margin-top: 24;
}

#other2{
    border: 2px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}